.catalog{
  background-image: url(../../img/bg.jpg);
    color: white;
  }
  .catalog-container{
    background-color: white;
    color: black;
  }
  .catalog-cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 74%;
    justify-content: center;
  }
  .catalog-card{
    width: 27%;
  }