.header-wrapper{
    color: black;
  }
  .header-text{
    display: flex;
    font-size: 8px;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
  }
  .header-descr{
    text-align: center;
  }