.singlepost{
  background-image: url(../../img/bg.jpg);
  }
  .singlepost-container{
    padding-bottom: 40px;
    background-color: white;
    padding-bottom: 20px;
  }
  .singlepost-card{
    display: flex;
    justify-content: space-around;
  }
  .singlepost-text{
    border: 2px solid black;
    display: inline-grid;
    padding: 20px ;
    width: 30%;
    font-size: 20px;
    text-align: center;
  }
  .singlepost-text h1{
    margin: 10px;
  }
  .singlepost-img{
    width: 40%;
  }
  .singlepost-descr{
    padding: 40px;
  }
  .singlepost-descr h3{
    font-weight: 400;
    padding: 40px 0;
  }
  .singlepost-descr h2{
    font-weight: 300;
    padding: 10px 0;

  }
  .singlepost-descr h4{
    text-align: center;
    line-height: 40px;
    padding: 10px 0 30px ;
  }
  .change-buttons{
    text-align: center;
  }
  .change-buttons button{
    margin: 10px;
  }
  .descr-change{
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }
  .descr-change h2{
    margin-right: 10px;
  }