* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-wrapper{
  background-image: url(./img/bg.jpg);
  color: white;
  }
.main-block{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-left{
  text-align: left;
}
.main-popular{
  font-size: 14px;
  font-weight: 100;
  padding: 7px 15px;
  border-radius: 5px;
  display: inline-block;
  background-color: white;
  color: black;
}
.main-descr{
  margin-top: 5px;
  font-size: 12px;
}
.dieta{
  width: 25%;
  margin-bottom: 20px;
  display: inline-block;
  padding: 150px 0px;
}
.button-text{
  display: flex;
  align-items: center;
}
.main-button{
  font-size: 14px;
  font-weight: 100;
  padding: 20px 27px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  border: unset;
  background-color: #FED84C;
  color: black;
}
.main-button:hover{
  transition: all 0.1s ease-in;
  background-color: #928142;
  color: white;
}
.button-descr{
  font-weight: 100;
  font-size: 14px;
}
.smoke-main, .smoke-faq{
  margin-bottom: -4px;
  width: 100%;
}
/* Mini-Catalog */
.mini-catalog{
  text-align: center;
  background-color: white;
  color: black;
}
.mini-catalog-title{
  display: inline-block;
}
.carousel .control-disabled.control-arrow {
  opacity: 1; 
   display: unset; 
}
.carousel .control-arrow {
  border: unset !important;
  background-color: #404040 !important;
}
.carousel.carousel-slider .control-arrow{
  top: 50px !important;
  bottom: 50px !important;
}
.carousel .carousel-status{
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin-right:20px;
  font-size: 14px !important;
  font-weight: 400;
}
.InfiniteCarouselDots {
  bottom: -50px !important;
}
.card, .catalog-card{
  width: 65%;
  margin: 40px;
  text-align: left;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  border-radius: 7px;
  padding: 10px;
}
.card:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
.card-text a{
  text-decoration: none;
  color: black;
}
.card-img{
  width: 100%;
  border: 2px solid #6d6d6d;
  border-radius: 5px;
}
/* AD */
.Ad{
  background-color: white;
  color: black;
}
.ad-text{
  text-align: center;
}
.ad-popular{
  font-size: 14px;
  font-weight: 100;
  padding: 7px 15px;
  border-radius: 5px;
  display: inline-block;
  background-color: #F2F6FA;
  color: black;
}
.ad-title{
  text-align: center;
  color: #47B57B;
}
.ad-list{
  margin: 20px 0;
  text-align: left;
}
.ad-list li{
  padding: 10px 0;
  font-family: monospace;
  font-size: 16px;
}
.ad-list li::marker{
  color: #5D6AFB;
}
