.FAQ{
  background-image: url(../../img/bg.jpg);
    color: white;
    padding: unset;
  }
  .faq-block{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .phone-faq{
  width: 20%;
  }
  .smoke-faq1{
    width: 100%;
    margin-top: -20px;
  }

  @media all and (max-width: 480px){
    .faq-block{
      flex-direction: column;
      text-align: center;
    }
    .button-text{
      display: unset;
    }
    .phone-faq, .ad-img{
      width: 65%;
      padding: 20px 0 30px;
    }
    .ad-list{
      margin: 20px 45px;
    }
    .ad-img{
      width: 90%;
    }
  }